<div class="container">
  {{link-to "Nnoduka Eruchalu" "home" class="footer-name u-plainLink"}}
  
  <div class="footer-social">
    <a href="mailto:noddy@nnoduka.com" class="u-plainLink">E-Mail</a>
    <a href="https://github.com/nceruchalu" class="u-plainLink">GitHub</a>
    <a href="https://www.facebook.com/nnoduka.eruchalu" class="u-plainLink">
      Facebook
    </a>
    <a href="https://angel.co/nceruchalu" class="u-plainLink">AngelList</a>
  </div>
</div>
