////////////////////////////////////////////////////////////////////////////////
//
// _utilities.scss
//
// Use this partial to style the utility classes with syntax `u-<utilityName>`
//
////////////////////////////////////////////////////////////////////////////////

.u-hidden {
    display: none !important;
}

.u-bold {
    font-weight: $fontWeight-bold;
}

a.u-plainLink {
    color: $color-black;
}

a.u-plainLink:hover {
    color: $color-black;
    text-decoration: underline;
}

@media (max-width:991px) {
    a.u-plainLink {
        text-decoration: underline;
    }
 
    a.u-plainLink:hover {
        color: $color-blueDark;
    }
}