{{nav-project project=model titleMeta="WHO AM I?"}}

<div class="container container--project">
  <section class="details">
    
    <img src="/assets/img/bio/bio-portrait@2x.jpg">
        
    <h1>About</h1>
    <p>
      I am a developer building iOS apps, full-stack web solutions, and embedded
      systems. I try to build nice looking software and hardware, so check out 
      {{link-to "my portfolio" "home.index"}}.
    </p>
    
    <h1>Skills</h1>
    <ul>
      <li>
        <span class="u-bold">Software: </span>
        <span>Objective-C. Python. C/C++. SQL. Javascript.</span>
      </li>
      <li>
        <span class="u-bold">Embedded Systems: </span>
        <span>x86 Assembly. VHDL. ABEL.</span>
      </li>
      <li>
        <span class="u-bold">Product Management: </span>
        <span>Customer Advocacy. Product Launching.</span>
      </li>
    </ul>

    <h1>Education <span class="hidden-xs">[Hover for details]</span></h1>
    <ul>
      <li class="hint-bottom"
          data-hint="Focus: Parallel Computing, Error Correcting Codes, Communication.">
        [2012] <span class="u-bold">M.S.</span> Electrical Engineering,
        <a href="http://caltech.edu">Caltech</a>
      </li>
      <li class="hint-bottom"
          data-hint="Focus: Machine Learning, Relational Databases, Microprocessor Systems, Digital Design, Complex Analysis.">
        [2011] <span class="u-bold">B.S.</span> Electrical Engineering, 
        <a href="http://caltech.edu">Caltech</a>
      </li>
    </ul>
    
    <h1>Experience <span class="hidden-xs">[Hover for details]</span></h1>
    <ul>
      <li class="hint-bottom"
          data-hint="* Working on multiple software dev projects
* Check my portfolio for more">
        <span>[2016 - Present]</span>
        <span class="u-bold">Freelance: </span>
        <span>Chasing the dream</span>
      </li>
      <li class="hint-bottom"
          data-hint="* Built the iOS app in 2 weeks.
* Built the backend server and API in 4 weeks.
* Check out the product at https://getkuna.com">
        <span>[2015 - 2016]</span>
        <span class="u-bold">Dev: </span>
        <span>Kuna Systems</span>
      </li>
      
      <li class="hint-bottom"
          data-hint="* Led the Bing Merchant Center team in the quest to make Product Ads visually and functionally appealing.
* Liaised with business and support teams to ensure Bing Ads always put the customers first.">
        <span>[2012 - 2015]</span>
        <span class="u-bold">PM: </span>
        <span>Microsoft</span>
      </li>
      
      <li class="hint-bottom"
          data-hint="* Spec'd out the incorporation of rich media ads into AdCenter's mobile offering.
* Spec'd out AdCenter's rich media creative builder for advertisers.
* Developed python module for analysis of AdCenter's Contextual Ads data.">
        <span>[Summer 2011]</span>
        <span class="u-bold">PM Intern: </span>
        <span>Microsoft</span>
      </li>
      
      <li class="hint-bottom"
          data-hint="* Developed a framework for characterizing latch contention in an Oracle cluster environment.
* Generated performance statistics on the Oracle Real Application Cluster (RAC) using latch analysis.">
        <span>[Summer 2010]</span>
        <span class="u-bold">Dev Intern: </span>
        <span>Oracle</span>
      </li>
      
      <li class="hint-bottom"
          data-hint="* Developed a test framework for the Oracle Recovery Server.">
        <span>[Summer 2009]</span>
        <span class="u-bold">Dev Intern: </span>
        <span>Oracle</span>
      </li>
    </ul>
  </section> <!-- /.details -->
  
  <section class="info">
    <div class="info-col">
      <h2>Contact</h2>
      <p>
        Email:<br>
        <a href="mailto:noddy@nnoduka.com">noddy@nnoduka.com</a>
        <br>
        <br>
        <em>Unreleased code repos available on request.</em>
      </p>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--spacer">
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Social</h2>
      <ul>
        <li>
          <a href="https://github.com/nceruchalu">GitHub</a>
        </li>
        <li>
          <a href="https://www.facebook.com/nnoduka.eruchalu">Facebook</a>
        </li>
        <li>
          <a href="https://angel.co/nceruchalu">AngelList</a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->
</div> <!-- /.container--project -->
