{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Objective-C</li>
        <li>Python/Django</li>
        <li>PostgreSQL</li>
        <li>XMPP</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="https://itunes.apple.com/us/app/blabbit/id909539734?mt=8"
             target="_blank">App Store</a>
        </li>
        <li>
          <a href="http://blabb.it/api/v1/">REST API</a>
        </li>
        <li>
          <a href="https://github.com/nceruchalu/blabbit_ios">GitHub iOS</a>
        </li>
        <li>
          <a href="https://github.com/nceruchalu/blabbit_server">GitHub Web</a> 
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--spacer">
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h5>About Blabbit</h5>
    <p>
      Blabbit is for anonymously expressing yourself round the clock.
    </p>
    <p>
      Start and participate in ephemeral threads (expiring groupchats). 
      Threads are time-bound and and identities are always masked.
    </p>
    <p>
      Get it on the
      <a href="https://itunes.apple.com/us/app/blabbit/id909539734?mt=8">
        app store</a>!
    </p>
  </section> <!-- /.details -->

  <section class="screenshots">
    <img src="/assets/img/project/blabbit/blabbit-mobile@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}

