{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>C</li>
        <li>NFC (<a href="https://en.wikipedia.org/wiki/MIFARE">MIFARE</a>)</li>
        <li>Microcontrollers</li>
        <li>PCB Design & Construction</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="http://strivinglink.com/easypay/" target="_blank">
            Website
          </a>
        </li>
        <li>
          <a href="https://github.com/nceruchalu/easypay">GitHub</a>
        </li>
        
        <li>
          <a href="https://bitbucket.org/nceruchalu/easypay_hardware">
            Schematics & PCB            
          </a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--spacer">
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h1>About EasyPay</h1>
    <p>
      Queuing up to pay bills hurts productivity, so EasyPay set out to eliminate
      queues.
    </p>
    
    <h1>Why EasyPay?</h1>
    <p>
      EasyPay was a concept project with the goal of taking Nigeria towards
      its cashless society goal. 
    </p>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" 
              src="http://www.youtube.com/embed/xP3J48hBFeg"></iframe>
    </div>

    
    <h1>How it Works?</h1>
    <p>
      Users would be provided with NFC smartcards which to be used as payment
      cards at outdoor payment kiosks. These kiosks were designed to be
      data-enabled, solar-powered, and weather-proof.
    </p>
    
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" 
              src="http://www.youtube.com/embed/QjUfUZ9Oxvk"></iframe>
    </div>

    
    <h1>See it in Action</h1>
    
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" 
              src="http://www.youtube.com/embed/BhdTa_jyTG4"></iframe>
    </div>
    
  </section> <!-- /.details -->
  
</div> <!-- /.container--project -->

{{footer-project}}
