{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Objective-C</li>
        <li>Python/Django</li>
        <li>PostgreSQL</li>
        <li>XMPP</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="https://itunes.apple.com/us/app/evently-app/id971251237?mt=8"
             target="_blank">App Store</a>
        </li>
        <li>
          <a href="http://getevently.com">getevently.com</a> 
        </li>
        <li>
          <a href="http://getevently.com/api/v1/">REST API</a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--spacer">
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h1>About Evently</h1>
    <p>
      Evently solves the problem of going through email threads with several
      responses when trying to plan a simple get-together.
    </p>
    <p>
      You create an event and share with your contacts.
      Anyone can suggest alternate options and vote on pre-existing options. 
      When voting closes, the app will pick out a "winner".
    </p>
    <p>
      When voting doesn't cut it you can also hop into (realtime) chats.
      And don't forget to share photos to make a lasting memory of your event!
    </p>
    <p>
      Get it on the 
      <a href="https://itunes.apple.com/us/app/evently-app/id971251237?mt=8">
        app store</a>!
    </p>
  </section> <!-- /.details -->

  <section class="screenshots">
    <img src="/assets/img/project/evently/evently-mobile@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}
