{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Objective-C</li>
        <li>Python/Django</li>
        <li>PostgreSQL</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="https://itunes.apple.com/us/app/gravvy/id1017480922?mt=8" 
             target="_blank">App Store</a>
        </li>
        <li>
          <a href="http://gravvy.nnoduka.com/api/v1/">REST API</a>
        </li>
        <li>
          <a href="https://github.com/nceruchalu/gravvy-ios">GitHub iOS</a>
        </li>
        <li>
          <a href="https://github.com/nceruchalu/gravvy-server">GitHub Web</a> 
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col">
      <h2>Highlights</h2>
      <ul>
        <li>5 Second Clips</li>
        <li>Unending video streams</li>
      </ul>
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
  <h5>About Gravvy</h5>
  <p>Gravvy gives everyone a chance to be a video star... in the same video!</p>
  <p>
    Share short (5 second) clips with friends and they can respond with 
    their own clips. 
    This way your social group and family can document life's precious moments 
    with a collaborative video stream.
  </p>
  <p>
    Get it on the 
    <a href="https://itunes.apple.com/us/app/gravvy/id1017480922?mt=8">
      app store</a>!
  </p>
  </section> <!-- /.details -->

  <section class="screenshots">
    <img src="/assets/img/project/gravvy/gravvy-mobile@2x.jpg">
  </section> <!-- /.screenshots -->

  <section class="details">
    <h5>What about those without the app?</h5>
    <p>
      Invite your friends to a video and they  will get a weblink via SMS.
      This link can of course be opened on mobile or on laptop.
    </p>
  </section> <!-- /.details -->
  
  
  <section class="screenshots">
    <img src="/assets/img/project/gravvy/gravvy-device@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}
