{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Software Tech Stack</h2>
      <ul>
        <li>C</li>
        <li>C++</li>
        <li>CUDA 4.0</li>
        <li>LAMP</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links info-col--spacer">
    </div> <!-- /.info-col -->
    
    <div class="info-col">
      <h2>Hardware Tech Stack</h2>
      <ul>
        <li>x86 Assembly</li>
        <li>Embedded Systems</li>
        <li>ABEL</li>
        <li>PCB Design & Construction</li>
      </ul>
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h5>Why so many more projects?</h5>
    <p>
      Practice makes perfect. Below is a list of other projects I worked on to
      help build my skills.
    </p>
    
    <h5>Software</h5>
    <ul>
      <li>
        [2012] <a href="http://ycp.nnoduka.com/">YCP</a>, a non-profit's CMS, 
        <a href="https://github.com/nceruchalu/ycp">GitHub</a>
      </li>
      <li>
        [2011] CUDA GPU Implementation of a Realtime Ray Tracer, 
        <a href="https://github.com/nceruchalu/ray_tracer">GitHub</a>
      </li>
      <li>
        [2011] C++ Reed-Solomon (RS) Encoder/Decoder,
        <a href="https://github.com/nceruchalu/reed_solomon">GitHub</a>
      </li>
      <li>
        [2011] <a href="http://ploggin.com/nceruchalu/">Ploggin.com</a>,
        a social network
      </li>
    </ul>
    
    <h5>Embedded Systems</h5>
    <ul>
      <li>
        [2011] Sound Detector and Image Capture Security Module,
        <a href="/assets/pdf/project/more/sdic.pdf">Docs</a>
      </li>
      <li>
        [2010] Ultrasonic Rangefinder, 
        <a href="/assets/pdf/project/more/rangefinder.pdf">Docs</a>
      </li>
      <li>
        [2009] 80188 MP3 Player,
        <a href="/assets/pdf/project/more/jukebox.pdf">Docs</a>
      </li>
    </ul>
  </section> <!-- /.details -->
  
</div> <!-- /.container--project -->

{{footer-project}}
