{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Python/Django</li>
        <li>MySQL</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Redis</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="http://noddymix.com" target="_blank">noddymix.com</a>
        </li>
        <li>
          <a href="https://github.com/nceruchalu/noddymix">GitHub</a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col">
      <h2>Highlights</h2>
      <ul>
        <li>Mobile friendly</li>
        <li>Over 500K song plays</li>
        <li>First of its kind</li>
      </ul>
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h1>About NoddyMix</h1>
    <p>
      NoddyMix is a web app for accessing the latest Nigerian music. It enables
      users to make and share playlists with friends. 
    </p>
    
    <h1>The Motivation</h1>
    <p>
      I was using other Nigerian music streaming websites while I was in college 
      and never had a positive experience.
      The websites either crashed in the middle of my favorite songs, or were 
      cluttered with ads making it impossible to actually click through the sites.
    </p>
    <p>
      The dealbreaker was the inability to load any of the sites on mobile 
      browsers as of spring break 2012.
    </p>
    <p>
      NoddyMix was created to fix this by being the first mobile-friendly Nigerian
      music portal with a focus on stability and uptime.
    </p>
  </section> <!-- /.details -->

  <section class="screenshots">
    <img src="/assets/img/project/noddymix/noddymix-device@2x.jpg">
    <img src="/assets/img/project/noddymix/noddymix-mobile@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}
