{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>VHDL</li>
        <li>FPGA</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="/assets/pdf/project/radio/radio.pdf" target="_blank">
            Overview
          </a>
        </li>
        <li>
          <a href="mailto:noddy@nnoduka.com?subject=Request%20more%20docs&body=Could%20I%20get%20the%20complete%20software%20and%20hardware%20documentation%20for%20your%20Software%20Defined%20Radio%3F">More Docs</a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col">
      <h2>Algorithms</h2>
      <ul>
        <li>CORDIC</li>
        <li>NCO based mixing</li>
        <li>CIC filtering</li>
        <li>FIR bandpass filtering</li>
        <li>FM quadrature demodulation</li>
        <li>Sigma-Delta DAC</li>
        <li>Time multiplexing FIR filter</li>
      </ul>
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h1>About the Radio</h1>
    <p>
      An FPGA-based implementation of a Software Defined Radio, using
      VHDL. This was a <a href="http://wolverine.caltech.edu/ee119c/index.htm">
      EE119C project</a>.
    </p>
    
    <p>
      It is capable of receiving FM radio signals, demodulating them, and is
      built with an intuitive user interface.
      Users can select stations, seek, and adjust the volume using an IR remote 
      controller, and a  TFT LCD for visual feedback.
    </p>
    
    <h1>Block Diagram</h1>
    
    <img src="/assets/img/project/radio/radio-block-diagram@2x.png">
  </section> <!-- /.details -->

  
</div> <!-- /.container--project -->

{{footer-project}}
