{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Python/Django</li>
        <li>PostgreSQL</li>
        <li>Ember.js</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="https://tryraven.com" target="_blank">tryraven.com</a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col">
      <h2>Highlights</h2>
      <ul>
        <li>Rapid file transfer</li>
        <li>Account not needed</li>
      </ul>
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h1>About Raven</h1>
    <p>Raven solves the problem of sending files to others without
      installing software on both your devices or clogging your inbox and/or
      cloud storage.
    </p>
    <p>
      Simply drag and drop your files and you're ready to send. No extra info
      needed.
    </p>
    <p>
      Have a file you need to share?
      <a href="https://tryraven.com">Try Raven</a>!
    </p>
  </section> <!-- /.details -->
  
  <section class="screenshots">
    <img src="/assets/img/project/raven/raven-device@2x.jpg">
    <img src="/assets/img/project/raven/raven-mobile@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}
