{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Objective-C</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="https://itunes.apple.com/us/app/retrac/id906573871?mt=8"
             target="_blank">App Store</a>
        </li>
        <li>
          <a href="https://github.com/nceruchalu/retrac_ios">GitHub</a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--spacer">
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h1>About Retrac</h1>
    <p>
      Retrac is for retracing your steps.
    </p>
    <p>
      It makes it easy to walk back to any important spot. This means no more
      looking for your car in parking lots, or your favorite stores in malls.
    </p>
    <p>
      Now let's guide you to Retrac on the 
      <a href="https://itunes.apple.com/us/app/retrac/id906573871?mt=8">
        App Store</a>!
    </p>
  </section> <!-- /.details -->

  <section class="screenshots">
    <img src="/assets/img/project/retrac/retrac-mobile@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}

