{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Objective-C</li>
        <li>Python/Django</li>
        <li>PostgreSQL</li>
        <li>VoIP</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="https://itunes.apple.com/us/app/ringpad/id1175971335?mt=8"
             target="_blank">App Store</a>
        </li>
        <li>
          <a href="https://ringpad.nnoduka.com/">ringpad.nnoduka.com</a> 
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--spacer">
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h1>About RingPad</h1>
    <p>
      RingPad is the modern day international calling card.
      No more entering of pins and jumping through hoops to setup pin-less
      access and speed dial numbers.
    </p>
    <p>
      With RingPad, you'll get cheap international calls initiated over the
      internet that terminate on your friends' actual phones!
    </p>
    <p>
      Want to redial your friends later? Go to your phone's recent calls and tap
      a "RingPad Audio" entry. The call will be initiated over RingPad without
      opening the app!
    </p>
    <p>
      Get it on the 
      <a href="https://itunes.apple.com/us/app/ringpad/id1175971335?mt=8">
        app store</a>!
    </p>
  </section> <!-- /.details -->

  <section class="screenshots">
    <img src="/assets/img/project/ringpad/ringpad-mobile@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}
