{{nav-project project=model}}

<div class="container container--project">
  <section class="info">
    <div class="info-col">
      <h2>Tech Stack</h2>
      <ul>
        <li>Python/Django</li>
        <li>PostgreSQL</li>
        <li>Ember.js</li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col info-col--links">
      <h2>Live</h2>
      <ul>
        <li>
          <a href="https://volleyy.com" target="_blank">volleyy.com</a>
        </li>
      </ul>
    </div> <!-- /.info-col -->
    
    <div class="info-col">
      <h2>Highlights</h2>
      <ul>
        <li>Beautiful newsletters</li>
        <li>Embed social media</li>
        <li>Emails that convert</li>
      </ul>
    </div> <!-- /.info-col -->
  </section> <!-- /.info -->

  <section class="details">
    <h5>About Volleyy</h5>
    <p>
      Volleyy helps you compose beautiful newsletters that keep your customers
      coming back.
    </p>
    <p>
      Create content-rich emails using an editor that lets you include photos,
      videos, web links, and social media posts with just 1 click.
    </p>
    <p>
      Publish your emails and use the actionable analytics to learn more about
      your readers. Try a <a href="https://volleyy.com" target="_blank">demo</a>
      and see for yourself!
    </p>
  </section> <!-- /.details -->
  
  <section class="screenshots">
    <img src="/assets/img/project/volleyy/volleyy-device@2x.jpg">
  </section> <!-- /.screenshots -->
  
</div> <!-- /.container--project -->

{{footer-project}}
